<template>
  <v-container>
    <v-layout align-center justify-center>
      <v-card class="mx-auto" elevation="5" tile flat width="100%" max-width="1000px">
        <v-toolbar color="primary" dark>
          <v-btn icon to="/login" exact>
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
          <v-container>
            <v-row class="justify-center align-center">
              <img :src="logo" style="max-height: 60px">
            </v-row>
          </v-container>
        </v-toolbar>

<!--        <b-form-group-->
<!--          id="input-group-1"-->
<!--          label="Email address:"-->
<!--          label-for="input-1"-->
<!--          description="We'll never share your email with anyone else."-->
<!--        >-->
<!--          <b-form-input-->
<!--            id="input-1"-->
<!--            v-model="form.email"-->
<!--            type="email"-->
<!--            placeholder="Enter email"-->
<!--            required-->
<!--          ></b-form-input>-->
<!--        </b-form-group>-->

<!--        <v-card-text align="center">-->
<!--          <v-form @submit.prevent="onSubmit" v-model="isValid">-->
<!--            <v-text-field v-model="registration.name" :rules="[rules.required]" label="Name"></v-text-field>-->
<!--            <v-text-field v-model="registration.surname" :rules="[rules.required]" label="Surname"></v-text-field>-->
<!--            <v-text-field v-model="registration.email" :rules="[rules.required, rules.valid_email]" label="E-mail" type="email"></v-text-field>-->
<!--            <v-text-field v-model="registration.roomNumber" :rules="[rules.required]" label="Room number"></v-text-field>-->
<!--            <v-text-field v-model="registration.dateOfBirth" :rules="[rules.required]" label="Date of birth" type="date"></v-text-field>-->
<!--            <v-text-field v-model="registration.placeOfBirth" :rules="[rules.required]" label="Place of birth"></v-text-field>-->
<!--            <v-text-field v-model="registration.permanentAddress" :rules="[rules.required]" label="Permanent address"></v-text-field>-->
<!--            <v-btn class="ma-2" type="submit" color="success" :disabled="!isValid">-->
<!--              Register-->
<!--              <v-icon right>mdi-send</v-icon>-->
<!--            </v-btn>-->
<!--          </v-form>-->
<!--        </v-card-text>-->

        <v-card-text align="center">
          <v-form @submit.prevent="onSubmit" v-model="isValid">

            <v-alert
              text
              align="left"
              border="left"
              type="info"
            >
              <p>Pre-registration serves mainly for making the registration process easier. If you want to become a member, fill the pre-registration form, then visit us in our office Y416 during the office hours to sign the paper form and complete your registration.</p>
            </v-alert>

            <v-container style="padding: 0px">
              <v-card class="mx-auto">
                <v-card-text align="left">
                  <v-row>
                    <v-col cols="12" sm="6" style="padding-top: 0px; padding-bottom: 0px">
                      <v-text-field :outlined="outlined" v-model="registration.name" :rules="[rules.required]" label="Name"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="6" style="padding-top: 0px; padding-bottom: 0px">
                      <v-text-field :outlined="outlined" v-model="registration.surname" :rules="[rules.required]" label="Surname"></v-text-field>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col style="padding-top: 0px; padding-bottom: 0px">
                      <v-text-field :outlined="outlined" v-model="registration.email" :rules="[rules.required, rules.valid_email]" label="E-mail" type="email"></v-text-field>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col style="padding-top: 0px; padding-bottom: 0px">
                      <v-text-field :outlined="outlined" v-model="registration.dateOfBirth" :rules="[rules.required]" label="Date of birth" type="date"></v-text-field>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col style="padding-top: 0px">
                      <v-text-field :outlined="outlined" v-model="registration.roomNumber" :rules="[rules.required]" label="Room number"></v-text-field>
                    </v-col>
                  </v-row>

                </v-card-text>
              </v-card>
            </v-container>

            <v-container style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px">
              <v-card class="mx-auto">
                <v-card-title style="font-size: 16px">Place of birth</v-card-title>
                <v-card-text align="left">
                  <v-row>

                    <v-col cols="12" sm="6" style="padding-top: 0px">
                      <v-autocomplete
                        :outlined="outlined"
                        ref="country"
                        v-model="registration.placeOfBirth.country"
                        :rules="[() => !!registration.placeOfBirth.country || 'Required field']"
                        :items="countries"
                        label="Country"
                        placeholder="Country"
                        required
                      ></v-autocomplete>
                    </v-col>

                    <v-col cols="12" sm="6" style="padding-top: 0px">
                      <v-text-field :outlined="outlined" v-model="registration.placeOfBirth.city" :rules="[rules.required]" label="City"></v-text-field>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-container>

            <v-container style="padding-left: 0px; padding-right: 0px;">
              <v-card class="mx-auto">
                <v-card-title style="font-size: 16px">Permanent address</v-card-title>
                <v-card-text align="left">
                  <v-row>

                    <v-col cols="12" sm="6" style="padding-top: 0px; padding-bottom: 0px">
                      <v-autocomplete
                        :outlined="outlined"
                        ref="country"
                        v-model="registration.permanentAddress.country"
                        :rules="[() => !!registration.permanentAddress.country || 'Required field']"
                        :items="countries"
                        label="Country"
                        placeholder="Country"
                        required
                      ></v-autocomplete>
                    </v-col>

                    <v-col cols="12" sm="4" style="padding-top: 0px; padding-bottom: 0px">
                      <v-text-field :outlined="outlined" v-model="registration.permanentAddress.city" :rules="[rules.required]" label="City"></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="2" style="padding-top: 0px; padding-bottom: 0px">
                      <v-text-field :outlined="outlined" v-model="registration.permanentAddress.postalCode" :rules="[rules.required]" label="Postal code"></v-text-field>
                    </v-col>

                    <v-col>
                      <v-textarea
                        style="padding-top: 0px"
                        outlined
                        label="Address"
                        v-model="registration.permanentAddress.address"
                        :rules="[rules.required]"
                      ></v-textarea>
                    </v-col>

                  </v-row>
                </v-card-text>
              </v-card>
            </v-container>

            <v-alert
              text
              align="left"
              border="left"
              type="error"
            >
              <p>
                The controller of personal data is the society Studentská unie ČVUT, Company Registration No.: 67981224 (hereinafter the “SU”). We process the personal data in accordance with Act No. 110/2019 Sb. and/or the Regulation (EU) 2016/679 (GDPR).
              </p>
              <p>
                Collecting and processing the data given above is necessary for the Club Masarka and the SU to unequivocally identify its members and to contribute all benefits that follows from membership to these members.
              </p>
              <p>
                Any requests and questions related to the processing of personal data may be sent by e-mail to <a href="mailto: admin@mk.cvut.cz">admin@mk.cvut.cz</a> or to <a href="mailto: oou@su.cvut.cz">oou@su.cvut.cz</a>. Read more at <a href="https://su.cvut.cz/gdpr" target="_blank">https://su.cvut.cz/gdpr</a>.
              </p>
            </v-alert>

            <v-container>
              <v-btn class="ma-2" type="submit" color="success" :disabled="!isValid">
                I accept, pre-register me!
                <v-icon right>mdi-send</v-icon>
              </v-btn>
            </v-container>

          </v-form>
        </v-card-text>

      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import logo from '@/assets/mk-logo-white.svg'

export default {
  data () {
    return {
      logo,
      registration: {
        placeOfBirth: Object(),
        permanentAddress: Object()
      },
      isValid: false,
      outlined: false,
      rules: {
        required: value => !!value || 'Required field',
        valid_email: v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      },
      countries: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla', 'Antigua &amp; Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia &amp; Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Cape Verde', 'Cayman Islands', 'Chad', 'Chile', 'China', 'Colombia', 'Congo', 'Cook Islands', 'Costa Rica', 'Cote D Ivoire', 'Croatia', 'Cruise Ship', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Estonia', 'Ethiopia', 'Falkland Islands', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia', 'French West Indies', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyz Republic', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'Netherlands Antilles', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Pierre &amp; Miquelon', 'Samoa', 'San Marino', 'Satellite', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'St Kitts &amp; Nevis', 'St Lucia', 'St Vincent', 'St. Lucia', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor L\'Este', 'Togo', 'Tonga', 'Trinidad &amp; Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks &amp; Caicos', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Virgin Islands (US)', 'Yemen', 'Zambia', 'Zimbabwe']
    }
  },
  methods: {
    onSubmit () {
      const placeOfBirth = this.registration.placeOfBirth.country + ', ' + this.registration.placeOfBirth.city
      const permanentAddress = this.registration.permanentAddress.country + ', ' +
        this.registration.permanentAddress.city + ', ' +
        this.registration.permanentAddress.postalCode + ', ' +
        this.registration.permanentAddress.address

      this.registration.placeOfBirth = placeOfBirth
      this.registration.permanentAddress = permanentAddress

      this.$store.dispatch('registration/createRegistration', this.registration)
      this.$router.push('/login')
    }
  },
  async mounted () {
    document.title = 'Pre-registration | Masarka Student Club'
  }
}
</script>
